@import '../../styles/variables.scss';

.explore-wrapper {
  padding-top: 70px;
  padding-bottom: 110px;
  padding-right: 8px;
  height: 100vh;
  overflow: hidden;
}

.explore-icon-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.explore-card {
  @include border-dark;
  box-shadow: $shadow-2;
  border-radius: 8px;
  background-color: $white;
}
