@import '../../styles/variables.scss';

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.explore-culture-wrapper {
  padding-top: 70px;
  padding-bottom: 120px;
}

.explore-icon-arrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.explore-card {
  @include border-dark;
  box-shadow: $shadow-2;
  border-radius: 8px;
  background-color: $white;
}

/* reset */
button {
  all: unset;
}

.ToggleGroup {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: $white;
  padding: 0 25px;
}

.ToggleGroupItem {
  color: $greyscale;
  height: 20px;
  width: 28px;
  width: auto;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  padding: 0 7px;
  border-radius: 4px;
  border: none;
}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.ToggleGroupItem:hover {
  background-color: $greeny-2;
}
.ToggleGroupItem[data-state='on'] {
  background-color: $greeny;
  color: $greyscale;
}
.ToggleGroupItem:focus {
  position: relative;
}

.chart-wrapper {
  background-color: #fff;
  padding: 25px 0 0 0;
  @include border-dark;
  border-radius: 8px;
  overflow: hidden;
}
