@import '../../styles/variables.scss';

.skeleton-search {
  background-color: $white;
  padding: 8px;
  @include border-dark;
  border-radius: 8px;
}

.skeleton-empty-card {
  border-radius: 16px;
  box-shadow: $shadow-2;
}

.skeleton-empty-card-icon {
  border-radius: 100%;
}
