@import '../../styles/variables.scss';

.export-mnemonic-card {
  @include border-dark;
  background-color: $white;
  box-shadow: $shadow-2;
}

.export-mnemonic-card-text {
    -moz-user-select: all;
    -khtml-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.export-mnemonic-button {
  max-width: fit-content;
  background-color: $orange;
  padding: 8px 20px;
  box-shadow: $shadow-2;
  margin-bottom: 36px;
  &:active {
    box-shadow: none !important;
  }
}
