@import '../../styles/variables.scss';

.login-figure {
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.login-figure1 {
  top: 16%;
  left: 9%;
  background-image: url('../../assets/images/login/figure1.svg');
  width: 61px;
  height: 59px;
}

.login-figure2 {
  top: 6%;
  right: -16px;
  background-image: url('../../assets/images/login/figure2.svg');
  width: 110px;
  height: 125px;
}

.login-figure3 {
  bottom: 16%;
  left: -53px;
  background-image: url('../../assets/images/login/figure3.svg');
  width: 152px;
  height: 102px;
}

.login-figure4 {
  bottom: 11%;
  right: 24%;
  background-image: url('../../assets/images/login/figure4.svg');
  width: 59px;
  height: 59px;
}
