@import '../../styles/variables.scss';

.desktop-message-card {
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10000;
  padding: 16px;
  @include border-dark;
  border-radius: 8px;
  background-color: $blue;
}
