@import '../../styles/variables.scss';

.nav-button {
  width: 92px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  transition: all 0.3s;
}

.nav-button-active {
  @include border-dark;
  background-color: $greeny-2;
  box-shadow: $shadow-1;
  &:active {
    box-shadow: 2px 2px 0 0 $dark;
    filter: brightness(0.9);
  }
}
