@import '../../styles/variables.scss';

.transfer-card {
  @include border-dark;
  border-radius: 8px;
}

.transfer-card-max {
  color: $info;
  text-decoration: underline;
  cursor: pointer;
}

.convert-icon-arrow {
  transform: rotate(90deg);
}
