@import '../../styles/variables.scss';

.transfer-card {
  @include border-dark;
  border-radius: 8px;
}

.transfer-card-max {
  color: $info;
  text-decoration: underline;
  cursor: pointer;
}

.convert-icon-arrow {
  transform: rotate(90deg);
}

.search-input-holder {
  position: sticky;
  left: 0;
  right: 0;
  top: -1px;
  width: 100%;
  z-index: 1000;
  background-color: $yellow-1;
}

.sticky-spinner {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
}
