@import '../../styles/variables.scss';

.button-slider-container {
  width: 100%;
  position: relative;
  background-color: $greeny-3;
  height: 56px;
  @include border-dark;
  border-radius: 32px;
  @include flex-center;
  &.disabled {
    background-color: $grey;
  }
}

#button-slider {
  transition: width 0.3s, border-radius 0.3s, height 0.3s;
  position: absolute;
  left: -1px;
  background-color: $greeny;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  @include border-dark;
  @include flex-center;
  &.unlocked {
    right: -1px ;
    left: auto ;
  }
  &.disabled {
    background-color: $grey-1;
  }
}

.button-slide-text {
  @include nonselect;
  letter-spacing: 0.02rem;
}
