@import '../../styles/variables.scss';

.chart {
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.charTooltip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: -20px;
  pointer-events: none;
  background: #fff;
  @include border-dark;
  box-shadow: $shadow-2;
  border-radius: 8px;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 100;

  &__price {
    font-size: 20px;
    font-weight: 500;
  }
  &__date {
    font-size: 12x;
    font-weight: 400;
  }
}
