@import '../../styles/variables.scss';

.icon-button {
  @include flex-center;
  @include border-dark;
  border-radius: 100%;
  transition: all 0.3s;
  box-shadow: $shadow-3;
  &:active {
    box-shadow: none;
    filter: brightness(0.9);
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.default {
  width: 48px;
  height: 48px;
}

.small {
  width: 32px;
  height: 32px;
}
