@import '../../styles/variables.scss';

.icon-button {
  width: 48px;
  height: 48px;
  @include flex-center;
  @include border-dark;
  border-radius: 100%;
  transition: all 0.3s;
  box-shadow: 2px 1px 0px 0px #000000;
  &:active {
    box-shadow: none;
    filter: brightness(0.9);
  }
}
