@import '../../styles/variables.scss';

.withdraw-info-card {
  @include border-dark;
  box-shadow: $shadow-2;
  border-radius: 6px;
  background-color: $violet;
}

.withdraw-input {
  border: 0;
  background-color: unset;
  text-align: center;
}

.withdraw-input-error {
  text-align: center;
    width: 100%;
}
